.nav {
  position: relative;

  margin-top: 2rem;
  width: 80vw;
  padding: 2rem 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(233, 236, 236);
  border-radius: 5px;
  border: 1px solid rgb(211, 203, 203);

  display: flex;
  align-items: center;
  justify-content: center;
}

.Welcome {
  margin-left: 20px;
}

.nav-right {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
}

.Popup-holder {
  color: black;
}

.nav-button {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  color: rgb(147, 147, 147);
}

.nav-logo {
  height: 100%;
  padding: 1 5rem;
  display: flex;
  align-items: center;
  color: rgb(7, 4, 4);
}

.nav-button:hover {
  cursor: pointer;
  background-color: rgb(226, 226, 226);
}

.nav-left {
  position: absolute;
  left: 0;
}

.nav-search-input {
  margin-left: 1rem;
  padding: 0.7rem;
  border-radius: 2px;
  border: 1px solid #cecece;
}

.nav-search-button {
  padding: 0.7rem;
  border-radius: 5px;
  border: 1px solid #cecece;
  margin-left: 5px;
}

.movies {
  position: flex;
  margin-top: 3rem;
  width: 80vw;
  height: 100%;

  margin-left: auto;
  margin-right: auto;
  background-color: rgb(243, 243, 243);

  display: flex;
  align-items: center;
  justify-content: right;
}

.movies-right {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  color: rgb(65, 63, 63);
  right: 0;
}

.content {
  display: flex;
  flex-wrap: nowrap;
}
