body {
    background-color: lightskyblue;
    font-family: sans-serif;
}
h1{
    background-color: gray;
    color:orange
}
.labelOne{
    background-color: black;
    color: white

}
.buttonTwo{
    border: 1px solid black;
    margin-top: 50px;
}
.buttonTwo:hover{
    background-color: red
}
.director{  
    width: 250px;
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
}
// duration, image url, score (num),title, description, releasedate