.movie {
   width: 75%;
   color: black;
   background-color: blue;
   border-style: solid;
  margin-left: 10px;
}

.title-year {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.title, .year {
   font-weight: bold;
}

.poster {
   border-radius: 5%;

}

.moviesContainer {
display:flex;

}
