body {
  background-color: #6b7d7d;
}

.movie {
  width: 46%;
  color: black;
  background-color: #fcdebe;
  border-style: solid;
  border-radius: 2%;
  margin:10px;
}

.movieHeader {
  background-color: #928779;
  text-align: center;
  padding: 5px;
  color: white;
  border-bottom: 4px solid black;
  border-radius: 2%;
}

.title-year {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title,
.year {
  font-weight: bold;
}

.deleteButton {
  display: inline;
  background-color: black;
  color: white;
}

.deleteButton:hover {
  background-color: white;
  color: black;
}

.movieInfoContainer {
  display: flex;
}

.movieImage {
  text-align: center;
}

.movieInformation {
}

.poster {
  border-radius: 5%;
}

.moviesContainer {
  display: flex;
   flex-wrap: wrap;
  max-width: 100%;

}
